<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ess.anime.wallpaper">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.PopularActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.ImageDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.web.HyperlinkActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <service android:name=".download.image.DownloadImageService" />

        <service android:name=".download.apk.DownloadApkService" />

        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.FavoriteTagActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.CollectionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.DownloadImageManagerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.FullscreenActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.activity.CropWallpaperActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.PixivGifActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.web.PixivLoginActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.ReverseSearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.web.ReverseSearchWebsiteActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.activity.GameActivity"
            android:screenOrientation="behind" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ess.anime.wallpaper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.34" />

        <!-- 华为 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!-- 小米 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>